@import url(cabecalho.css);
@import url(fontes.css);

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.25rem 3.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }
  
  .logo {
    font-family: var(--font-family-header);
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.125rem;
    color: var(--secondary-color);
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-left: 1.875rem;
  }
  
  nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ccc;
  }


body {
    height: 100vh;
    width: 100%;
    font-family: 'Playfair Display', serif;

    background: url("https://i.pinimg.com/1200x/9b/f2/de/9bf2debdf3b1b0ed0ac5a6eb62681c78.jpg")
    no-repeat center/cover;

    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

.container {
    text-align: center;
    color: white;
}

.avatar img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: white;
    padding: 8px;
}

h1 {
    font-family: "Italiana", serif;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

input {
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    width: 180px;
    font-size: 14px;
    font-weight: bold;
}

button {
    margin-top: 20px;
    padding: 8px 35px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    transition: .3s;
}

button:hover {
    background: rgba(255, 255, 255, 0.2);
}