@import url(fontes.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../Imagens/hierarquia.jpg") no-repeat center center/cover;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    
}

.predacao {
    

    .colmeia {
        max-width: 1000px;
        margin: 140px auto 50px auto; /* espaço para cabeçalho */
        padding: 30px 40px;
        display: flex;

        h1 {
            margin-bottom: 20px;
            font-size: 2em;
          }
          
          p {
            margin-bottom: 15px;
            text-align: justify;
          }

          img {
            max-width: 250px;
          }
    }
}