@import url(cabecalho.css);
@import url(fontes.css);

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 5rem;
  font-family: "Italiana", serif;
  font-weight: 100;
  color: #fff;
}

p{
  font-family: "Montserrat";
  color: #fff;
  font-size: 3rem;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
}

.inicio{
  margin-inline-start: auto;
  margin: 25rem;
  justify-content: flex-start;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  height: 48rem;
  color: #fff;
  background-color: #D9D9D9;

}

strong {
  font-weight: bold;
}


.botao1{
  height: 2rem;
  width: 9rem;
  font-family: "Comfortaa";
  background-color: #2E7771;
  color: #fff;
  border: none;
}

.tigre{
  height: 80rem;
  background-size: cover;
}

.botao2{
  font-size: 25px;
  height: 8rem;
  width: 16rem;
  font-family: "Comfortaa";
  background-color: #2E7771;
  color: #fff;
  border: none;
  list-style-type: none;
  justify-content: flex-end;
}

.dois{
  background-color: #000;

}